<div class="container">
  <div class="row text-center">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 style="color:#0fad00">Update Successful</h2>
        <img src="http://osmhotels.com//assets/check-true.jpg">
        <br><br>
        <%= link_to 'HOME', root_path, method: :get %>
      </div>
  </div>
</div>