<%= form_tag('/foods', method: :post) do %>
  <h4>
    投稿する
  </h4>
    <ul style="list-style:none;">
      <li>
        <input placeholder="Restaurant" type="string" name="restaurant">
      </li>
      <li>
        <input placeholder="Image Url" type="text" name="photo">
      </li>
      <li>
        <textarea cols="30" name="text" rows="10"></textarea>
      </li>
      <li>
        <input type="submit" value="SENT">
      </li>
    </ul>
<% end %>